#contenedorLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenedorInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#contenedorBotonDespues {
    display: flex;
    justify-content: center;
}

#contenedorQRcode {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    border-radius: 20%;
}

#url {
    width: 70vh;
    height: 5vh;
    background-color: #2d3e6f;
    border-radius: 10px;
    border: 0;
    font-family: "Outfit", sans-serif;
}

#boton {
    background-color: #3662E3;
    height: 5vh;
    border-radius: 10px;
    border: 0;
    font-family: "Outfit", sans-serif;
}

#estiloBotonDespues {
    background-color: #3662E3;
    height: 5vh;
    border-radius: 10px;
    border: 0;
    font-family: "Outfit", sans-serif;
    margin-top: 5vh;
    margin: 10px;
    font-size: large;
}

html,body {
    overflow: hidden;
    background-color: #211e44;
    background-image: url(imgs/bg-illustration.svg);
    background-repeat: no-repeat;
}

input[type="text"] {
    color: white;
    /* Cambia el color del texto a rojo */
}

.fa-solid{
    padding: 8px;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}